body{
    background: green;

}
.kotak{
    background: red;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

#kotak{
    background: blue;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.tulisan_satu{
    color: white;
    font-family: sans-serif;
    border: 5px solid blue;
}

.tulisan_dua{
    color: orange;
    font-style: italic;
    font-size: 30pt;
    border: 5px solid green;
}

.tulisan_tiga{
    color: gray;
    font-weight: bold;
    font-style: oblique;
    border: 7px solid yellow;
}

#tulisan_empat{
    color: red;
    font-weight: bold;
    font-style: italic;
    border: 9px solid black;

}