.box{
    background: red;
    width: 200px;
    height: 300px;
    padding: 20px;
    text-align: center;
}

.box-dua{
    background: green;
    width: 250px;
    height:100px;
    padding-left: 70px;
    text-align: center;
}