body{
    background: green;
}
.judul{
    text-align: center;
    color: white;   
    background: rgb(110, 231, 110);
    background-position: 100%;
    position: relative;
    
}

.isi{
    color: white;
}